<%- include('partials/header'); -%>
    <h1>Home</h1>
    <p>
        <%=homeStart%>
    </p>
    <div class="row">

        <% posts.forEach(function(post){ %>

            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= post.title %>
                        </h5>
                        <p class="card-text content">
                            <%= post.body %>
                        </p>
                        <a href="/posts/<%= post._id %>" class="btn btn-info" style="display:block;">Read More</a>
                    </div>
                </div>
            </div>


            <% }); %>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/main.js"></script>
    <%- include('partials/footer'); -%>