<%- include('../partials/header'); -%>
    <h3>Home</h3>
    <p>
        Welcome to our blog project. Here, you can create and view multiple blogs.
    </p>
    <div class="container">
        <div class="row" style="justify-content: flex-start">
            <div class="search-area container-fluid col-sm-6 col-md-4">
                <input type="text" placeholder="Start typing to search..." class="form-control search-input"
                    disabled="disabled">
            </div>
        </div>
    </div>

    <div class="row">

        <% posts.forEach(function(post){ %>

            <div class="col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title post-title">
                            <%= post.title %>
                        </h5>
                        <h5 class="card-title post-author">
                            by <%= post.user.displayName %>
                        </h5>
                        <p class="card-text content">
                            <%= truncate(post.body, 175) %>
                        </p>
                        <a href="/posts/<%= post._id %>" class="btn btn-primary" style="display:block;">Read More</a>
                    </div>
                </div>
            </div>

            <% }); %>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    <%- include('../partials/footer'); -%>