<%- include('../partials/header'); -%>
    <h1>
        <%=post.title%>
    </h1>
    <h3>
        by <%=post.user.displayName%>
    </h3>
    <p class="preserve-whitespace">
        <%=post.body%>
    </p>
    <%- include('../partials/footer'); -%>